<div class="h-screen bg-transparent flex items-center justify-center">
  <div class="w-11/12 lg:w-9/12"> <!-- Adjusted width for a fuller layout -->
    <table class="w-full divide-y divide-gray-700 text-gray-300">
      <thead class="text-left text-lg">
        <tr>
          <!-- Reduced intensity of uppercase, giving a lighter, airier feel -->
          <th class="py-4 px-6 font-light">ID</th>
          <th class="py-4 px-6 font-light">Note Name</th>
          <th class="py-4 px-6 font-light">Date Created</th>
          <th class="py-4 px-6 font-light">Last Modified</th>
          <th class="py-4 px-6 font-light">Password</th>
          <th class="py-4 px-6"></th> <!-- Keeping the action column less pronounced -->
        </tr>
      </thead>
      <tbody>
        <!-- Each row with increased vertical padding for better distinction and readability -->
        @for (note of notes; track notes ; let i = $index) {
        <tr class="text-base hover:bg-gray-600 hover:bg-opacity-25 transition ease-in-out duration-150">
          <td class="py-5 px-6">{{ note.id }}</td>
          <td class="py-5 px-6">{{ note.noteName }}</td>
          <td class="py-5 px-6">{{ note.dateCreated }}</td>
          <td class="py-5 px-6">{{ note.lastModified }}</td>
          <td class="py-5 px-6">{{ note.password }}</td>
          <td class="py-5 px-6 text-right">
            <button (click)="deleteNote(i)" class="text-red-500 hover:text-red-400 focus:outline-none">
              <span class="hidden md:inline">Delete</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline md:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
